<p>This is my test file</p>
<!-- <section class="jumbotron text-center" id="about">
    <div class="container">
        <h1 class="jumbotron-heading">Who Am I?😃</h1>
        <img src="../photo/bar.jpg" alt="Selfie"style="border-radius: 50%; align-items: center; justify-content: center; overflow: hidden;" width="400" height="500">
        <p>Coder👨‍💻 | Student🏫 | Gamer🎮 | Learner🤔 | Explorer🌏</p>
    </div>
    <section class="jumbotron text-left" id="about2" style="margin-bottom:0">
        <p>I am <b>Aaron (Zhiyi) Zhang</b>, Currently pursuing a Master's degree in Computing and Software at McMaster University to deepen my expertise in advanced 
        engineering concepts. I thrive in self-managed environments and am passionate about building resilient, efficient systems that solve real-world problems. 
        I'm looking forword to working for a company perpetuates creativity and positively affects the world, invests in employees to develop their 
        skills better and make them more professional, and always communicates with employees equally.</p>
    <p>I was a Software engineer with 4+ years of experience building high-performance systems that serve millions of users daily. My expertise spans back-end and front-end 
        development, with particular strengths in Java, Python, and React Native. At Meituan's Platform Engineering division, I led development of campaign systems 
        handling 20M DAU, and led systen optimization works. I've designed and optimized micro-service architectures using Redis, Kafka, and MySQL, focusing on scalability 
        and fault tolerance. My engineering approach combines technical excellence with business impact, contributed to User Growth relevant business. Before that, 
        I was also one of the main contributor of the Meituan React-Native framework, participated in the front-end infrastructure construction.
        Currently pursuing a Master's degree in Computing and Software at McMaster University to deepen my expertise in advanced engineering concepts. I thrive in 
        self-managed environments and am passionate about building resilient, efficient systems that solve real-world problems.</p>
    </section>
</section> -->