<a id="contacts" style=" position: relative;top: -60px;display: block;height: 0;overflow: hidden;"></a>
<div class="jumbotron text-center" style="margin-bottom:0">
  <div class="row">
    <div class="col-sm-12">
        <h1>Contacts☎️</h1>
        <p><a href="mailto:zhangzhiyi@meituan.com" target="_blank">zhangzhiyi@meituan.com</a></p>
        <p><a href="mailto:zhiyi215@gmail.com" target="_blank">zhiyi215@gmail.com</a></p>
        <p>(+1) 437-870-3996 (CA)</p>
      <a href="mailto:zhiyi215@gmail.com" class="smlinks"><i class="fas fa-envelope-square fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/aaron-zhiyi-zhang-60a48a175"  class="smlinks" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
      <a href="https://github.com/aaron0215" class="smlinks" target="_blank"><i class="fab fa-github-square fa-2x"></i></a>
    </div>
  </div>
</div>