<div class="row">
    <!------>
    <a id="experience" style=" position: relative;top: -60px;display: block;height: 0;overflow: hidden;"></a>
    <div class="col-sm-12">
        <h1>Other Experience📜</h1>
        <ul class="list-unstyled">
            <li class="media">
                <img src="photo/uvmlogo.png" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Research Assistant</h5>
                    <h6 class="mt-0 mb-1">University of Vermont | Burlington, VT</h6>
                    <p class="badge badge-pill badge-primary">April 2018 – July 2018</p>
                    <ul>
                        <li>Participated in a government-funded AI research project (Autopilot relevant)</li>
                        <li>Developed annotation tool with graduate students</li>
                        <li>Collected and corrected data processed by AI</li>
                        <li>Wrote tutorial for the annotation tool</li>
                    </ul>
                    <p></p>
                </div>
            </li>
            <li class="media">
                <img src="photo/uvmlogo.png" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Teaching Assistant</h5>
                    <h6 class="mt-0 mb-1">University of Vermont | Burlington, VT</h6>
                    <p class="badge badge-pill badge-primary">January 2018 – May 2018</p>
                    <ul>
                        <li>TA for both Java and Python classes </li>
                        <li>Instructed a lab section of Python class </li>
                        <li>Assisted instructor to design projects and exams </li>
                    </ul>
                    <p></p>
                </div>
            </li>
            <li class="media">
                <img src="photo/uvmlogo.png" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">IT Support Specialist</h5>
                    <h6 class="mt-0 mb-1">University of Vermont | Burlington, VT</h6>
                    <p class="badge badge-pill badge-primary">September 2017 – April 2018</p>
                    <ul>
                        <li>Provided support on software and hardware </li>
                        <li>Managed technical products inside the school </li>
                        <li>Maintained internal management system </li>
                    </ul>
                    <p></p>
                </div>
            </li>
            <li class="media">
                <img src="photo/caslogo.png" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Application Developer (Intern)</h5>
                    <h6 class="mt-0 mb-1">Chinese Academy of Sciences | Beijing, CN</h6>
                    <p class="badge badge-pill badge-primary">June 2017 – August 2017</p>
                    <ul>
                        <li>Designed and programmed a content-based image search program</li>
                        <li>Group Project Manager & Primary Developer</li>
                        <li>Learned MATLAB for the project </li>
                        <li>Gained basic knowledge of digital image processing (Harris, Hog, ORB etc.)</li>
                        <li>Been familiar with basic Computer Vision relevant concepts (Hamming Distance etc.)</li>
                        <li>Studied several similarity search algorithms (Locality Sensitive Hashing etc.)</li>
                    </ul>
                    <p></p>
                </div>
            </li>
        </ul>
    </div>
</div>
<br>