<div class="row">
    <a id="projects" style="position: relative;top: -60px;display: block;height: 0;overflow: hidden;"></a>
    <div class="col-sm-12">
        <h1>Projects💻</h1>
        <br>
        <ul class="list-unstyled">
            <li class="media">
                <div class="media-body">
                    <h4>Meituan Standard API (MSI) Monitoring and Alerting System</h4>
                    <ul>
                        <li>Built the MSI Monitoring and Alerting System from 0 to 1. The system monitored critical indexes and performance data of all business units in the company. Discovered 8 highest-level live issues (P0 issue) during the early deployment stage in 2022 and prevented them from affecting users.</li>
                        <li>Developed a system for framework maintainer to monitor metrics. Acted as the lead iOS developer, collaborated with Android and web developers to build the system. Developed a tool integrated into CI pipeline to allow developers from all business units to customize their own alert strategy.</li>
                        <li>Collected operational data from 220+ APIs, processed and reported billions of APIs daily data. Defined several monitoring metrics, aggregated and categorized data to calculate the metrics. Evaluated the level of alerting for different metrics and built relevant alert strategy.</li>
                        <li>Successfully promoted to Senior Software Engineer upon finishing this project.</li>
                    </ul>
            </li>
        </ul>
    </div>
</div>
<br>