<a id="projects" style=" position: relative;top: -60px;display: block;height: 0;overflow: hidden;"></a>
    <div class="row">
        <div class="col-sm-12">
            <h1>Projects💻For All Projects👉<a href="https://github.com/aaron0215/Projects" target="_blank"><button type="button" class="btn btn-sm btn-outline-info">View All</button></a></h1>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="photo/rpi.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Home Surveillance System</h5>
                    <p class="card-text">Continuous surveillance system with motion detection and face recognition. Built on Raspberry Pi, using python.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="https://github.com/aaron0215/Projects/tree/master/Raspberry%20Pi" target="_blank"><button type="button" class="btn btn-sm btn-outline-info">View Code</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>