<div class="row">
    <!------>
    <a id="interests" style=" position: relative;top: -60px;display: block;height: 0;overflow: hidden;"></a>
    <div class="col-sm-12">
        <h1>Skill Set💪</h1>
        <p style="margin-bottom: 3px;"><b>Language</b>: </p>
        <p style="margin-bottom: 3px;">Java, Python, JavaScript, C++, SQL, Objective-C</p>
        <p style="margin-bottom: 3px;"><b>Technology</b>: </p>
        <p style="margin-bottom: 3px;">PyTorch, LlamaIndex, chainlit, LangChain, SpringBoot, Kafka, Redis, MyBatis, MySQL, Cron, Socket, AWS, React-Native, Jenkins</p>
        <p style="margin-bottom: 3px;"><b>Knowledge</b>: </p>
        <p style="margin-bottom: 3px;">Neural Network, RAG, LLM, Deep Learning, Reinforcement Learning, Genetic Programming</p>
    </div>
</div>

<br>
<br>