/* Class: . */
/* ID: # */

/*
body background-color: #121212;
 color: #BDBDBD; Light Grey
background-color: #2E2E2E;
background-color: #424242;
*/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}


/* Remove all the underscores in all hyperlinks */
a, sup {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: none;
  color: red;
}


.logo {
  float: right;
  margin: 1em;
  height: 50px;
  width: 50px;
}

.header {
  margin: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.section {
  margin: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
  width: 95%
  max-width: 800px;
}

.education-item, .experience-item {
  /*TODO: Put the info item in the middle of screen*/
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  margin-top: 0.75em; /* The space between items */
  margin-bottom: 0.75em;
  width: 95%;
  max-width: 800px;
}

.project-item {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  margin-top: 0.75em; /* The space between items */
  margin-bottom: 0.75em;
  width: 95%;
  max-width: 800px;
  text-align: center;
}

.project-image {
  width: 60%;
  height: 60%;
}

/* TODO: All head titles in the middle */
h1, #websiteInfo {
  text-align: center;
}


/* Style all font awesome icons for social media links */
.fab {
  padding: 20px;
  font-size: 30px;
  /*width: 50px;*/
  width: 25%
  text-align: center;
  text-decoration: none;
}

.far {
  padding: 20px;
  font-size: 30px;
  /*width: 50px;*/
  width: 25%
  text-align: center;
  text-decoration: none;
}

/* On hover, change opacity of icons */
.fab:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #DE1FBA;
  color: white;
}

.fa-github {
  background: #121212;
  color: white;
}

.fa-snapchat-ghost {
  background: #FFFF00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-envelope {
  background: #E74A0B;
  color: white;
}

.fa-weixin {
  background: #1FDE3E;
  color: white;
}



